@keyframes spinner {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
}
.loadingSpinner {
    width: 25px;
    height: 25px;
    border: 0px solid #f3f3f3; /* Light grey */
    border-top: 10px solid #383636; /* Black */
    border-radius: 50%;
    animation: spinner .5s linear infinite;
    opacity: 1;
}
.spinnerContainer {
  position: absolute;
  width: 100%;
  height: 100vh;
    display: grid;
    justify-content: center;
    align-items: center;
}